REDIS_URL =
REDIS_HOST =
REDIS_PORT =
KAFKA_HOST =
KAFKA_PORT =
KAFKA_API_VERSION =
MINIO_USER =
MINIO_PWD =
ROWS_TO_ANALYSE_PER_FILE =
CSV_DETECTIVE_REPORT_BUCKET =
CSV_DETECTIVE_REPORT_FOLDER =
TABLESCHEMA_BUCKET =
TABLESCHEMA_FOLDER =
UDATA_INSTANCE_NAME =
